# Flutter/Dart specific
.dart_tool/
.flutter-plugins
lib/firebase_options.dart
.flutter-plugins-dependencies
.packages
.pub/
coverage/
build/
ios/Flutter/*
ios/Flutter/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
macos/Flutter/*
macos/Flutter/ephermeral/*
macos/Flutter/Flutter.podspec
macos/Pods/
macos/Runner/GeneratedPluginRegistrant.*
macos/Runner/Flutter/ephemeral
web/.dart_tool/
web/assets/
web/packages/
web/favicon.png
web/index.html
*.iml

# Android specific
android/.gradle/
android/.idea/
android/app/build/
android/app/prod/
android/app/dev/
android/app/stage/
android/app/debug/
android/app/release/
android/gradle/
android/.DS_Store/
android/local.properties
android/keystore.properties
android/app/src/main/java/io/flutter/

# iOS specific
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

ios/.symlinks/
ios/Podfile.lock
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/*/**
# Other
*.lock
.DS_Store
.pub-cache/
/build/
.idea/
.vscode/
*.log
*.iml
